/* Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --big-font: 24px;
  --medium-font: 20px;
  --small-font: 16px;
  --x-small-font: 14.69px;
  --headline-color: #562eff;
  --primary-color: #000000;
  --secondary-color: #ed6b4f;
  --bg-body: #e5e5e5;
  --bg-white: #ffffff;
  --white:#ffffff;
}

/* Common Part */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid seagreen; */
}
body {
  background: var(--bg-body);
}
img {
  width: 100%;
  height: 100%;
}
/* header style */
.header{
  width: 100%;
  height: 94px;
  background-color: #562eff;
  color: var(--white);
}
.logo img{
  width:15px;
  height:15px;
}
.header-container{
  width:70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}
.logo-container{
  display: flex;
  gap: 10px;
  padding-top: 35px;
}
.navbar ul{
  display: flex;
  text-decoration: none;
}
.navbar ul li{
  list-style-type: none;
  padding: 35px 20px;
}
.navbar ul li a{
  color: var(--white);
  font-size: var(--medium-font);
  font-family: var(--primary-font-family);
  text-decoration: none;
}
.navbar img{
  width: 50px;
  height: 50px;
}
.navbar :last-child{
  margin-top: -5px;
}

/* main */
.main {
  width: 70%;
  margin: 0 auto;
  background-color: var(--bg-white);
}
/* top player style */
.top-player {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--small-font);
  border-bottom: 2px solid var(--bg-body);
}
.top-player h3 {
  color: var(--primary-color);
  font-size: var(--big-font);
  color: var(--headline-color);
  padding: 5px 30px;
}
.top-player img {
  width: 56px;
  height: 56px;
}
.top-player-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 30px;
}

/* Top Blogs Style */
.top-blogs {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--medium-font);
}
.top-blogs h3 {
  font-size: var(--big-font);
  color: var(--headline-color);
  padding: 5px 30px;
}
.top-blogs img {
  width: 177px;
  height: 117px;
}
.top-blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blog {
  display: flex;
  gap: 20px;
  padding: 30px;
}
.author {
  color: #9f9f9f !important;
}
/* Latest Course Section Style */
.latest-courses {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  font-size: var(--medium-font);
}
.latest-courses h3 {
  font-size: var(--big-font);
  color: var(--headline-color);
  padding: 5px 30px;
}
.course-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 30px;

}
.courses{
  width: 254px;
  height: 254px;
}
.course-details img{
  width: 220px;
  height:104px;
}
.course-details h4{
  color: var(--primary-color);
  font-size: var(--medium-font);
  font-family: var(--secondary-font-family);
}
.course-details p{
  color: var(--secondary-color);
  font-size: var(--x-small-font);
  font-family: var(--secondary-font-family);
}
.course-info{
  display: flex;
  justify-content: space-around;
}
.course-info span,i{
  color: rgb(159, 37, 37);
}
.filled-icon{
  color: var(--secondary-color);
  font-size: var(--x-small-font);
}
.empty-icon{
  color:#AEAEAE;
  font-size: var(--x-small-font);
}

/* Responsive for Mobile Device */
@media screen and (max-width: 688px) {
  .header{
    height: 200px;
  }
  .header-container{
    flex-direction: column;
    align-items: center;
    width:100%;
  }

  .main {
    width: 100%;
  }
  /* top player style */

  .top-player img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .top-player-container {
    grid-template-columns: 1fr;
  }
  .player {
    flex-direction: column;
  }
  .top-blogs {
    font-size: var(--small-font);
  }
  .top-blogs h3 {
    font-size: var(--medium-font);
    padding: 5px 10px;
  }
  .top-blogs img {
    width: 100px;
    height: 80px;
  }
  .top-blogs-container {
    grid-template-columns: 1fr;
  }
  .latest-courses h3 {
    padding: 5px 10px;
  }
  .course-container{
    grid-template-columns: 1fr;
    padding: 15px 10px;
  
  }
  .courses{
    width: 100%;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .course-details img{
    width: 260px;
  }
  .course-info{
    display: flex;
    justify-content: flex-start;
  }
  
  
}
/* Responsive for Tablet Device */
@media screen and (min-width: 689px) and (max-width: 992px) {
   .main {
    width: 100%;
  }
  /* top player style */

  .top-player img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .top-player-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .top-blogs img {
    width: 200;
    height: 150;
  }
  .top-blogs-container {
    grid-template-columns: 1fr;
  }
  .course-container{
    grid-template-columns: 1fr 1fr;
    padding: 15px 10px;
  
  }
  .course-details img{
    width: 280px;
  }
}
